[submodule "starcat-swap/lib/forge-std"]
	path = starcat-swap/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
